##
# Our version of the default server setup. Uses Jinja to fill in details.
##

{%- set external_address = pillar['NGINX_EXTERNAL_IP'] -%}
{%- set node_address = pillar['NODE_SERVER_IP'] -%}
{%- set node_port = pillar['NODE_SERVER_PORT'] -%}
{%- set html_root = pillar['NGINX_HTML_ROOT'] -%}
{%- set node_virtual_directory = pillar['NODE_VIRTUAL_DIRECTORY'] -%}

# Default server configuration
#
server {

        # HTTP server configuration
        listen 80 default_server;
        listen [::]:80 default_server;

        # SSL server configuration
        # listen 443 ssl default_server;
        # listen [::]:443 ssl default_server;

        # "http://domain/" -> html_root directory on the defined server
        root {{ html_root }};

        # Try these index file names
        index index.html index.htm index.nginx-debian.html;

        server_name {{ external_address }};

        # Regular HTTP server
        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
        }

        # Re-direct the api directory to a nodejs server
        location /{{ node_virtual_directory }} {
                proxy_pass {{ node_address }}:{{ node_port }};
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection 'upgrade';
                proxy_set_header Host $host;
                proxy_cache_bypass $http_upgrade;
        }

}
